body {
  background: #fedd9e;
  color: #cc800e;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}
.style-bg {
  background: #fff1d5;
  margin-bottom: 1em;
}
h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
}
h1 span {
  border-bottom: 1px solid;
}
h2 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 38px;
  line-height: 55px;
}
img {
  width: 100px;
}
.button-style {
  background: #ffbc57;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  border: none;
  padding: 8px 16px;
}
.button-style:hover,
.button-style:focus {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13), 0 1px 1px 0 rgba(0, 0, 0, 0.11);
  outline: none;
}
.text-input {
  padding-left: 1em;
}
.drop-down-input {
  color: #000000;
  text-align: center;
  padding: 0 5px;
}
/* style this later */
/* select {
  appearance: none;
} */

.drop-down-input,
.text-input {
  border: none;
  background: #fefefe;
  outline: none;
  height: 60px;
  width: 120px;
}
.inputs-style-bg {
  background: #fff1d5;
}
.inputs-style-bg,
.text-input,
.button-style,
.drop-down-input,
.style-values {
  border-radius: 10px;
}
.style-values {
  text-align: center;
  font-style: normal;
  background: #fff1d5;
  color: #cc800e;
}
.style-answers {
  background: #cc800e;
  color: #fff1d5;
  border-radius: 150px;
}
.error{
  color: red;
}
.why {
  border: 1px solid black;
}
